{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
{% if news %}
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория:
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a> >
            {% endfor %}
            <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
        </div>
        <div class="card-body">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" width="350"
                 style="display:block; margin-left: auto; margin-right: auto">
            {% endif %}
            <h5 class="card-title" style="text-align: center; margin-top: 20px;">
                {{ item.title }}</h5>
            <p class="card-text">{{ item.content|truncatewords:50|safe }}</p>
            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
        </div>
        <div class="card-footer text-muted">
            Опубликовано: {{ item.created_at|date:"H:i:s d-m-Y" }}
            <br>
            Времени с даты публукации: {{ item.created_at|timesince }}
            <br>
            Просмотров: {{ item.views }}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="card mb-3">
        <h5 class="card-title" style="text-align: center; margin-top: 20px;">
                В этой категории еще нет новостей..
        </h5>
    </div>
{% endif %}
{% endblock %}