{% extends 'base.html' %}

{% block title %} {{ news_item.title }} {% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Категория:
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a> &#8594;
            {% endfor %}
            <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        </div>
        <div class="card-body">
            {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="" width="350" style="display:block; margin-left: auto; margin-right: auto">
            {% endif %}
            <h5 class="card-title" style="text-align: center; margin-top: 20px;">
                {{ news_item.title }}</h5>
            <p class="card-text">{{ news_item.content|safe }}</p>
        </div>
        <div class="card-footer text-muted">
            Опубликовано: {{ news_item.created_at|date:"H:i:s d-m-Y" }}
            <br>
            Времени с даты публукации: {{ news_item.created_at|timesince }}
            <br>
            Просмотров: {{ news_item.views }}
        </div>
    </div>
{% endblock %}
